header {
	width: 100%;
	background-color: #636bff;
	color: white;
	margin-bottom: 10px;
	height: 120px;
}


.container{
	max-width: 960px;
	margin: 0 auto;
}

.title{
	line-height: 120px;
	margin: 0;
}

.logo {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 40px;
	margin-top: 10px;
}


#navigation {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #CCC;
	padding: 30px;
	margin-bottom: 10px;
}

#navigation a{
	margin: 60px;
}

.links {
	max-width: 960px;
	margin: 0 auto;
	background-color: #DDD;
	padding: 30px;
	margin-bottom: 10px;
}


.table {
	max-width: 960px;
	margin: 0 auto;
	background-color: #CCC;
	padding: 30px;
	margin-bottom: 10px;
	
}

.form {
	max-width: 960px;
	margin: 0 auto;
	background-color: #CCC;
	padding: 30px;
	margin-bottom: 10px;
}



td, th {
	width: 200px;
	height: 200px;
	padding: 10px;
	font-style: italic;
	font-size: 18px;
}


tr:nth-child(odd) {
	background-color: #636bff;
}


tr:nth-child(even) {
	background-color: white;
}


footer {
	width: 100%
	text-align: center;
	margin: 0 auto;
	background-color: #636bff;
	padding: 30px;
	font-style: italic;
	font-size: 20px;
	color: white;
}